<div class="container d-flex justify-content-center mt-5">
    <form class="row col-md-6 d-flex justify-content-center p-4 border border-primary border-3 rounded-3"
        [formGroup]="login">
        <div class="col-md-6 d-inline-flex justify-content-center p-4 my-5 border border-primary border-3 rounded-3">
            <h1>Login</h1>
        </div>
        <div class="col-md-12 p-2">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" formControlName="username" required>
        </div>
        <div class="col-md-12 p-2">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" formControlName="password" required>
        </div>
        <div class="col-md-12">
            <button type="button" class="form-control btn btn-primary mt-3 p-2 fs-3" (click)="loginSubmit(login.value)"
                [disabled]="login.invalid">Login</button>
        </div>
        <div class="col-md-12">
            <button type="button" class="form-control btn btn-primary mt-3 p-2 fs-3"
                (click)="goRegister()">Register</button>
        </div>
    </form>
</div>